<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap id="memberResult" type="Member">
		<result column="user_no" property="userNo"/>
		<result column="email" property="email"/>
		<result column="gender" property="gender"/>
		<result column="age_range" property="ageRange"/>
		<result column="password" property="password"/>
		<result column="nickname" property="nickname"/>
		<result column="user_code" property="userCode"/>
		<result column="status" property="status"/>
		<result column="mem_enrolldate" property="memEnrollDate"/>
		<result column="enroll_type" property="enrollType"/>
	</resultMap>
	
	<resultMap id="adResult" type="Ad">
		<result column="ad_no" property="adNo"/>
		<result column="ad_title" property="adTitle"/>
		<result column="ad_link" property="adLink"/>
		<result column="modify_Date" property="modifyDate"/>
		<result column="ad_status" property="adStatus"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="upload_date" property="uploadDate"/>
		<result column="count" property="count"/>
	</resultMap>
	
	<resultMap id="selectAd" type="Ad">
		<result column="ad_no" property="adNo"/>
		<result column="ad_title" property="adTitle"/>
		<result column="ad_link" property="adLink"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="upload_date" property="uploadDate"/>
	</resultMap>
	
	<select id="selectAdmin" resultMap="memberResult">
		SELECT
            USER_NO,
            EMAIL,
            GENDER,
            AGE_RANGE,
            PASSWORD,
            NICKNAME,
            USER_CODE,
            STATUS,
            MEM_ENROLLDATE,
            ENROLL_TYPE
     FROM   MEMBER
    WHERE   user_no = #{userNo}
      AND   status = 'N'
      AND	user_code = 'A'
	</select>
	
	<insert id="insertAd">
		insert
			into ad
			(
				AD_NO
			,	AD_TITLE
			,	AD_LINK
			,	ORIGIN_NAME
			,	CHANGE_NAME
			)
			values
			(
				seq_fno.nextval
			  , #{adTitle}
			  , #{adLink}
			  , #{originName}
			  , #{changeName}
		  )
	</insert>
	
	<select id="selectListCount" resultType="_int">
		select
		       count(*)
		  from ad
	</select>
	
	<select id="selectList" resultMap="adResult">
		select
		        AD_NO
			,	AD_TITLE
			,	AD_LINK
			,	MODIFY_DATE
			,	AD_STATUS
			,	ORIGIN_NAME
			,	CHANGE_NAME
			,	UPLOAD_DATE
			,	COUNT
		  from  ad
		 order
		    by ad_no desc
	</select>
	<!-- 광고 상세조회 -->
	<update id="increaseCount">
		update
		       ad
		   set count = count+1
		 where ad_no = #{adNo}
	</update>
	<select id="selectAd" resultMap="selectAd">
		select
				Ad_NO
			,	AD_TITLE
			,	AD_LINK
			,	ORIGIN_NAME
			,	CHANGE_NAME
			,	UPLOAD_DATE
		FROM 	AD
		WHERE	AD_NO = #{adNo}
	</select>
	
	<!-- 게시물 선택 삭제  -->
    <delete id="delete">
        delete from ad
        where ad_no=#{adNo}
    </delete>
    
    <!-- 광고베너 표시  -->
    <update id="update">
        update
		       ad
		   set ad_status = 'Y'
		 where ad_no = #{adNo}
    </update>
    
    <!-- 광고 수정 -->
    <update id="updateAd">
    	update
    			ad
    		set	ad_title = #{adTitle}
    		  ,	ad_link	= #{adLink}
    		  , origin_name = #{originName}
    		  , change_name = #{changeName}
    	  where	ad_no = #{adNo}
    </update>
    <!-- 광고베너관리 검색기능 -->
	<select id="selectSearchListCount" resultType="_int">
		select
		       count(*)
		  from ad
		  where
	 	<choose>
	 		<when test="condition == 'title'">
	 			ad_title
	 		</when>
	 		<otherwise>
	 			ad_link
	 		</otherwise>
	 	</choose>
	 		like '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchList" resultMap="adResult">
		select
		       ad_no
		     , ad_title
		     , ad_link
		     , count
		     , origin_name
		     , modify_Date
		     , ad_status
		     , UPLOAD_DATE
		  from ad
		  where
		 <choose>
	 		<when test="condition == 'title'">
	 			ad_title
	 		</when>
	 		<otherwise>
	 			ad_link
	 		</otherwise>
	 	</choose>
	 		like '%' || #{keyword} || '%'
		 order
		    by ad_no desc
	</select>
	
</mapper>