<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminBoardMapper">

	<resultMap id="adminBoardResult" type="AdminBoard">
		<result column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="nickname" property="nickname"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
		<result column="board_type" property="boardType"/>
		<result column="faq_category" property="faqCategory"/>
		<result column="board_content" property="boardContent"/>
		<result column="user_no" property="userNo"/>
	</resultMap>

	<select id="selectNoticeCount" resultType="_int">
		select
		       count(*)
		  from admin_board
		 where board_type = '공지사항'
		   and status = 'Y'
	</select>
	
	<select id="selectNoticeList" resultMap="adminBoardResult">
		select
		       board_no
		     , board_title
		     , nickname
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as create_date
		  from admin_board a
          join member m on m.user_no = a.user_no
		 where board_type = '공지사항'
		   and a.status = 'Y'
		 order
		    by board_no desc
	</select>
	
	<insert id="insertAdminNotice">
		insert
		  into admin_board
		  (
		    board_no
		  , board_title
		  , user_no
		  , board_content
		  , board_type
		  )
		  values
		  (
		    seq_nno.nextval
		  , #{boardTitle}
		  , #{userNo}
		  , #{boardContent}
		  , '공지사항'
		  )
	</insert>
	
	<update id="increaseCountNotice">
		update
		       admin_board
		   set count = count+1
		 where board_no = #{boardNo}
		   and board_type = '공지사항'
		   and status = 'Y'
	</update>
	
	<select id="selectAdminNotice" resultMap="adminBoardResult">
		select
		       board_no
		     , board_title
		     , nickname
		     , board_content
		     , to_char(create_date, 'YYYY-MM-DD') as create_date
		     , count
		  from admin_board a
          join member m on m.user_no = a.user_no
		 where board_no = #{boardNo}
	</select>
	
	<update id="deleteAdminNotice">
		update
		       admin_board
		   set status = 'N'
		 where board_no = #{boardNo}
	</update>
	
	<update id="updateAdminNotice">
		update
			   admin_board
		   set board_title = #{boardTitle}
		     , board_content = #{boardContent}
		 where board_no = #{boardNo}
	</update>
	
	<select id="selectSearchNoticeListCount" resultType="_int">
		select
		       count(*)
		  from admin_board a
          join member m on m.user_no = a.user_no
		 where board_type = '공지사항'
		   and a.status = 'Y'
		   <choose>
			   <when test="condition == 'writer'">
			   		and nickname
			   </when>
			   <when test="condition == 'title'">
			   		and board_title
			   </when>
			   <otherwise>
			   		and board_content
			   </otherwise>
		   </choose>
					like '%' || #{keyword} || '%'
	</select>
	
	<select id="selectSearchNoticeList" resultMap="adminBoardResult">
		select
		       board_no
		     , board_title
		     , nickname
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as create_date
		  from admin_board a
          join member m on m.user_no = a.user_no
         where board_type = '공지사항'
		   and a.status = 'Y'
		 <choose>
		   		<when test="condition == 'writer">
		   			and nickname
		   		</when>
		   		<when test="condition == 'title'">
		   			and board_title 
		   		</when>
		   		<otherwise>
		   			and board_content
		   		</otherwise>
		   </choose>
		   			like '%' || #{keyword} || '%'
		  order
		     by board_no desc
	</select>
	
	<select id="selectFaqCount" resultType="_int">
		select
		       count(*)
		  from admin_board
		 where board_type = 'FAQ'
		   and status = 'Y'
	</select>
	
	<select id="selectFaqList" resultMap="adminBoardResult">
		select
		       board_no
             , faq_category
		     , board_title
             , board_content
		  from admin_board
		 where board_type = 'FAQ'
		   and status = 'Y'
		 order
		    by board_no desc
	</select>
	
	<insert id="insertAdminFaq">
		insert
		  into admin_board
		  (
		    board_no
		  , board_title
		  , user_no
		  , board_content
		  , board_type
		  , faq_category
		  )
		  values
		  (
		    seq_nno.nextval
		  , #{boardTitle}
		  , #{userNo}
		  , #{boardContent}
		  , 'FAQ'
		  , #{faqCategory}
		  )
	</insert>
	
	<update id="deleteAdminFaq">
		update
		       admin_board
		   set status = 'N'
		 where board_no = #{boardNo}
	</update>

</mapper>
