<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- author 윤희락 -->
<mapper namespace="teacherMapper">
	<resultMap id="teacherResult" type="Teacher">
		<result column="teacher_no" property="teacherNo"/>
		<result column="profile_image" property="profileImage"/>
		<result column="nickname" property="nickname"/>
		<result column="phone" property="phone"/>
		<result column="intro_content" property="introContent"/>
		<result column="subcat_no" property="subCatNo"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<!--
		@author HeeRak
		
	-->
	<select id="selectTeacher" resultMap="teacherResult">
		select 
			   teacher_no
			 , profile_image
			 , nickname
			 , phone
			 , intro_content
			 , subcat_no
			 , status
		  from teacher
		 where teacher_no = #{userNo}
		   and status = 'Y'
	</select>
	
	<select id="checkNickname" resultType="_int" parameterType="Teacher">
		select count(*)
		  from teacher
		 where nickname = #{nickname}
		   and teacher_no != #{teacherNo}
	</select>
	
	<update id="updateTeacher">
		update teacher
		   set nickname = #{nickname}
		     , phone = #{phone}
		     , intro_content = #{introContent}
		     <if test="profileImage != null">
		     , profile_image = #{profileImage}
		     </if>
		 where teacher_no = #{teacherNo}
		   and status = 'Y'
	</update>
</mapper>
