

	/*회원쪽 페이지 작업하면서 적용한 공통 스타일 입니다.(최서경)*/

       .body-outer{
       /* border: blue solid 1px;*/
        width: 1200px;
        margin: auto;
        overflow: auto;
       }

    /*회원가입*/
    .easyJoin{
        width:45%;
    }

	/*선이랑 선 사이에 글자 넣기 (로그인 팝업의 '간편로그인'처럼)*/
    .hr-sect {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0, 0.35);
        font-size: 12px;
        margin: 8px 0px;
    }
    .hr-sect::before,
    .hr-sect::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 16px;
    }

    /*소제목 스타일*/
    .sm-title{
        width: 450px; 
        /*border: purple solid 1px; */
        margin: auto; 
        font-size: 25px; 
        font-weight: bolder;

    }

    /*소제목 긴거 스타일*/
    .long-title{
        width: 800px; 
        /*border: purple solid 1px; */
        margin: auto; 
        font-size: 25px; 
        font-weight: bolder;
    }

    /*스터디게시판 작성자 정보 스타일*/
    .writerInfo {
        font-size: 12px;
        margin-left: 10px;
        margin-top: 5px;
        color: rgb(94, 94, 94);
    }
    
    /*공지사항, 스터디게시판 뒤로가기 버튼*/
    #goBackBtn {
		position: fixed;
		z-index: 998;
		margin-left: 120px;
		font-size: 12px;
		border-radius: 10px;
		padding: 8px 12px 8px 12px;
		border: 1px solid lightgrey;
		color: rgb(94, 94, 94);
		background-color: rgba(0, 0, 0, 0);
	}
	
	#goBackBtn:hover {
		opacity: 0.7;
	}
	
	/*관리자게시판 세부메뉴*/
	#adminBoardMenu>a {
	font-size: 18px;
	font-weight: 600;
	margin-right: 30px;
	text-decoration: none;
	color: black;
	height: 35px;
	display: inline-block;
	}
	
    #adminBoardMenu>a:hover {
       color: rgb(94, 94, 94);
       border-bottom: rgb(32, 155, 212) 4px solid;
       transition: all .2s ease;
    }


    